@import "./base/reset";
@import "./utils/colors";
  body {
    font-family: "Roboto", sans-serif;
    color: var(--main-text-color);
    font-style: normal;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.03em;
  }
  
  .visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
  }
  
  .container {
    /* max-width: 1200px; */
    width: 1200px;
    margin: 0 auto;
    /* margin-left: auto;
      margin-right: auto; */
  
    outline: 2px dashed #f44336;
  }
  
  .section {
    padding-bottom: 94px;
    padding-top: 94px;
  }
  
  /* .flex-test {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
  } */
  
  /* .flex-test > li:not(:last-child) {
      margin-right: 30px;
  } */
  
  .list-direction {
    display: flex;
    gap: 30px;
  }
  
  .flex {
    display: flex;
  }
  
  /* header */
  
  .header {
    padding-top: 24px;
    padding-bottom: 24px;
    border: 1px solid #ececec;
    display: flex;
  }
  
  .header-logo {
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    color: var(--logo-color);
    animation: changeSize 600ms infinite;
  }

@keyframes changeSize {
    0% {
      transform:scale(1);
    }
  
    50% {
      transform:scale(1.3);
    }
  
    100% {
      transform:scale(2);
    }
  }

  .logo-designe {
    color: var(--hover-color);
  }
  
  .header-nav {
    display: flex;
  }
  
  .header-nav {
    display: flex;
    align-items: center;
    gap: 50px;
    margin-left: 93px;
  }
  
  .header-nav {
    display: flex;
    align-items: center;
    gap: 50px;
  }
  .header-nav,
  .header-nav-link {
    list-style-type: none;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 0.02em;
    font-size: 14px;
    line-height: 1.14;
    display: flex;
    align-items: center;
  }
  
  .header-nav-link {
    color: var(--main-heading-color);
    fill: #757575;
    display: flex;
    gap: 40px;
  }
  .contas-icon {
    fill: currentColor;
  }
  
  .header-contacts {
    list-style-type: none;
    color: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    gap: 40px;
    text-decoration: none;
  }
  
  .header-contacts-link {
    color: black;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .header-contacts-link:hover,
  .header-nav-link:hover,
  .header-contacts-link:focus,
  .header-nav-link:focus {
    color: #005eb0;
    opacity: 1;
  }
  .contas-icon {
    color: currentColor;
  }
  /* hero */
  
  .hero {
    /* width: 1600px; */
    max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-image: linear-gradient(
        to right,
        rgba(255, 0, 0, 0.2),
        rgba(0, 255, 0, 0.2)
      ),
      url("../images/tim.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .team-list {
  
    
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
  }
  
  .team-list-li {
    box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
    background-color: white;
  }
  
  .hero-title {
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--accent-color);
  }
  .team-list {
    display: flex;
    gap: 30px;
    justify-content: center;
  }
  .features-list {
    display: flex;
    gap: 30px;
    list-style-type: none;
  }
  .hero-btn {
    min-width: 216px;
    padding: 10px;
    border: 0;
    border-radius: 4px;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--accent-color);
    background-color: var(--hover-color);
  }
  
  /* features */
  
  .features {
    padding-bottom: 0px;
  }
  
  .features-header {
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--main-heading-color);
  }
  
  .features-description {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }
  
  .occupation-header,
  .team-header {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-heading-color);
  }
  .input-emeil {
    display: inline;
    justify-items: center;
    color: #757575;
    padding: 10px 24px;
    width: 100%;
  }
  .input-emeil:hover{
  fill: #2196f3;
  }
    
  /* team */
  
  .team {
    background-color: var(--bg-btn-color);
  }
  
  .team-section {
    background-color: #F5F4FA;
    padding-bottom: 90px;
  }
  
  .team-header {
    padding-top: 90px;
  }
  
  .team-item {
    background-color: var(--accent-color);
    border-radius: 0 0 4px 4px;
  }
  
  .team-description {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  
  .team-name {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    color: var(--main-heading-color);
    
  }
  
  .team-position {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
  }
  
  .modal-field-form{
    position: relative;
    display: flex;
    color: #2196f3;
    width: 18px;
    height: 18px;
    top: 30px;
    left:8px;
  }
  .modal-field-form:hover{
    fill: #2196f3;
  }
  /* footer */
  
  .footer {
    margin-top: 90px;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--main-background-color);
  }
  .footerflex{
    display: flex;
  }
  .footer-socials-box{
    margin-left: 70px;
    margin-right: 93px;
  }
  .footer-logo {
    display: inline-block;
    margin-bottom: 20px;
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color);
  }
  
  .footer-adress,
  .footer-contacts {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }
  
  .footer-contacts {
    display: block;
    color: var(--footer-contacts-color);
  }
  
  .footer-contacts:hover,
  .footer-contacts:focus {
    color: var(--hover-color);
    opacity: 1;
  }
  
  .footer-adress {
    margin-bottom: 9px;
    color: var(--accent-color);
  }
  
  .footer-adress + .footer-contacts {
    margin-bottom: 9px;
  }
  .footer-socials {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 30px;
    gap: 10px;
    margin-top: 10px;
  }
  .footer-socioal-item{
    display: flex;
    justify-content: center;
    align-items: center;
    fill: currentColor;
    color: white;
    border-radius: 50%;
    width: 44px;
    height: 44px;
    background-color: rgb(255, 255, 255, 0.1);
   }
   .footer-socioal-item:hover{
    background-color: #2196f3;
    color: white;
   }
  .footer-social-icon {
   fill: currentColor;
  
  }
  .footer-form-text{
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
    margin-bottom: 20px;
   }
  
  .footer-form-imput{
   background-color: transparent;
   width: 358px;
  border-radius: 4px 0px 0px 0px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 15px 16px;
  color: white;
   }
  .footer-form{ 
    display: flex;
    gap: 12px;
  }
  .footer-form-btn{
    display: flex;
    width: 200px;
    height: 50px;
    border-radius: 4px 0px 0px 0px;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.06em;
  text-align: center;
  padding: 10px 28px;
  background-color: #2196f3;
  color: white;
   }
   .footer-send-icon {
    fill: currentColor;
    margin-left: 13px;
  }
  .backdrop {
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 94px 15px 0;
    opacity: 1;
    overflow-y: auto;
    background-color: rgba(0, 0, 0, 0.2);
  }
  
  .is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }
  
  .modal {
    position: relative;
    top: 50%;
    left: 50%;
    max-width: 528px;
    padding: 40px;
    border-radius: 4px;
    background-color: white;
    transform: translate(-50%, -50%);
    transition-property: transform, opacity;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0ms;
  }
  
  .no-scroll {
    overflow: hidden;
  }
  
  .backdrop.is-hidden .modal {
    opacity: 0;
    transform: translate(-50%, 50%) scale(0.5);
  }
  .modal-field {
    display: flex;
     flex-direction: column;
     gap: 4px;
     margin-bottom: 10px;
  }
  .modal-close-btn{
    display: flex;
  
  }
  .submit{
    display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  margin-top: 30px;
  margin-left: 125px;
  background-color: #2196f3;
  width: 180px;
  height: 40px;
  border: 0;
  
  }
  /* portfolio */
  
  .btns-list {
    display: flex;
    gap: 8px;
    justify-content: center;
    margin-bottom: 50px;
  }
  
  .portfolio-btn {
    padding: 6px 22px;
    cursor: pointer;
    border: 0;
    border-radius: 4px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-heading-color);
    background-color: var(--bg-btn-color);
  }
  
  .portfolio-btn:hover {
    color: var(--accent-color);
    background-color: var(--hover-color);
  }
  
  .projects-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  
  .project-header {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--main-heading-color);
  }
  
  .portfolio-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
  }
  
  .item-link {
    display: flex;
    justify-content: flex-end;
    gap: 45px;
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
  }
  .sponsar {
   padding: 94px 0px ;
    color:#AFB1B8 ;
  }
  
  .always-h2 {
    margin: 0px;
  }
  
  
  .companies {
    margin-top: 50px;
    display: flex;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    gap: 30px;
    text-decoration: none;
  }
  
  .companies-item {
    border: 2px solid #AFB1B8;
    border-radius: 2.5%;
    color:#AFB1B8 ;
    padding: 16px 32px;
  }
  
  .companies-item:hover {
    border-color: #2196f3;
    color: #2196f3;
    
  }
  .companies-icon{
    fill: currentColor;
  }
  
  .footer-h2 {
    font-family: "Roboto", sans-serif;
    font-style: bold;
    font-size: 14px;
    color: white;
    position: absolute;
    margin-right: auto;
    left: 370px;
    top: 2125px;
  }
  
  .footer-logos {
    position: absolute;
    left: 370px;
    display: flex;
    list-style-type: none;
    align-items: center;
    gap: 10px;
  }
  
  .svg {
    fill: white;
    background-color: #444449;
    clip-path: circle(50%);
    padding: 10px;
    transition: all 0.2s;

  }
  
  .svg:hover {
    background-color: #2196f3;
  }
  .main-svg {
    display: flex;
    gap: 10px;
    fill:#AFB1B8;
    background-color: white;
    clip-path: circle(50%);
    padding: 10px;
    transition: all 0.2s;
  }
  .box {
    height: 370px;
    width: 294px;
    background-color: rgb(0, 110, 255);
    border: 2px dashed red;
    position: relative;
    overflow: hidden;
  }
  .overlay {
    width: 100%;
    height: 100%;
    background-color: rgb(140, 0, 255);
    padding: 30px;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(100%);
    transition: transform 1000ms ease;
    
  }
  
  .main-svg:hover {
    background-color: #2196f3;
    fill: white;
  }
  
  .socials {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 30px;
    gap: 10px;
    margin-top: 10px;
  }
  .socioal-item{
    display: flex;
    justify-content: center;
    align-items: center;
    fill: currentColor;
    color: #AFB1B8;
    border-radius: 50%;
    width: 44px;
    height: 44px;
   }
   .socioal-item:hover{
    background-color: #2196f3;
    color: white;
   }
  .social-icon {
   fill: currentColor;
  }
  
  .image-container{
    position: relative;
  }
  
  .li-text{
    position: absolute;
    width: 370px;
    display: flex;
    justify-content: center;
    color: white;
    bottom: 0;
    left: 0;
    margin: 0px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #0000007b;
  }
  
  
  .button-list{
    display: flex;
    justify-content: center;
    gap: 8px;
    list-style-type: none;
  }
  .portfolio-list{
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    list-style-type: none;
    margin-bottom: 50px;
  }
  .portfolio-item{
  width: 360px;
  list-style-type: none; 
  }
  .overlay {
    width: 100%;
    height: 100%;
    background-color: rgb(140, 0, 255);
    padding: 30px;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(100%);
    transition: transform 1000ms ease;
  }
  .portfolio-item:hover{
    box-shadow: 1px 4px 6px 0 rgba(0, 0, 0, 0.16), 0 4px 4px 0 rgba(0, 0, 0, 0.06), 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  background: #fff;
  }
  .thumb{
    position: relative;
  }
  