:root {
  $main-heading-color: #212121;
    $main-text-color: #757575;
    $main-background-color: #2f303a;
    $main-current-color: #2196f3;
    $hover-color: #2196f3;
    $accent-color: #ffffff;
    $bg-btn-color: #f5f4fa;
    $footer-contacts-color: rgba(255, 255, 255, 0.6);
    $logo-color: #000000;
  }