.team {
    background-color: var(--bg-btn-color);
  }
  
  .team-section {
    background-color: #F5F4FA;
    padding-bottom: 90px;
  }
  
  .team-header {
    padding-top: 90px;
  }
  
  .team-item {
    background-color: var(--accent-color);
    border-radius: 0 0 4px 4px;
  }
  
  .team-description {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  